 /*cadastro
 ====================*/
$azul: #4d5d8c;
$azulClaro:#8792aa;
$azulTif: #00bf9e;
$azulTifDark: #11947e;
$branco: #fff;
$cinzaClaro: #f2f2f2;
$cinzaEscuro: #8b8b8b;
$rosa: #b73453;
$rosaBtn: #f02656;
$transparent: transparent;
$semcor: none;

 /*site
 ====================*/

 $azulTopSite: #95a8c4;
 $azul-default: #223c54;
 $cinza-chumbo: #2c2b2b;
 $cinza-text: #5a5d5f;